@import url(font.css);
* {
    box-sizing: border-box;
}

header {
    background-color: #f8f6f6;

}

.menu_bar {
    width: 1000px;
    height: 130px;
    margin: auto;
    border: 2px solid green;
    padding-top: 30px;
}

.first_screen {
    background-color: #353535;
    height: 710px;
}

.logo{
    border: 2px solid green;
    display: inline-block;
    vertical-align: middle;
}

.menu_bar p {
    vertical-align: middle;
    font-size: 30px;
    margin:0 0 0 20px;
    font-family: "BigNoodleTitling";
    color: rgb(105, 105, 105);
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    border: 2px solid green;


}

.menu {
    vertical-align: middle;
    float: right;
    margin-right: 10px;
    
}

.creative {
    border: 2px solid green;
    font-size: 72px;
    font-family: "BigNoodleTitling";
    color: rgb(214, 213, 213);
    line-height: 1.2;
    text-align: center;
    z-index: 19;
    text-transform: uppercase;
    display:inline-block;

}
.first_screen div {
    height: 100%;
    width: 1000px;
    margin: auto;
    border: 2px solid green;
}
.top_footer {
    height: 100px;
    width: 100%;
    background-color: rgb(12, 18, 21);
}
.map_text {
    font-size: 30px;
    font-family: "Impact";
    color: rgb(214, 213, 213);
    line-height: 1.2;
    text-align: center;
    z-index: 19;
    text-transform: uppercase;
    display:inline-block;
    margin-left: 45%;
    border: 2px solid green;
}
.main_footer{
    height: 250px;
    width: 100%;
    background-color: rgb(23, 31, 35);
}
.text_footer{
    font-family: "BigNoodleTitling";
    font-size: 25px;
    margin-left: 45.5%;
    margin-top:0px;
    color: rgb(214, 213, 213);
}
.logo_foot{
    border: 2px solid green;
    display: inline-block;
    vertical-align: middle;
    margin-top: 70px;
    margin-left: 49%;
    
}

