@import url(font.css);
@font-face {
    font-family: "BigNoodleTitling"; 
    src: url("fonts/BigNoodleTitling") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    position: relative;
    width: 1000px;
    margin: auto;
}
header {
    min-height: 130px;
    background-color: #f8f6f6;

}
.menu {
    padding: 50px;
}
.menu .menu_img{
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    position: absolute;
    right: 0;
}
.menu .menu_text {
    font-size: 40px;
    font-family: "BigNoodleTitling";
    color: rgb(105, 105, 105);    
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
}
.promo {
    padding: 150px 0 45px 0;
    min-height: 710px;
    text-align: center;
    background-color: #353535;
}
.promo .switche {
    height: 0;
    display: inline;
    font-size: 120px;
    font-family: "Pe";
    color: rgb(58, 57, 57);    
}
.promo .promo_header {
    font-size: 78px;
    font-weight: lighter;
    font-family: "BigNoodleTitling";
    color: rgb(214, 213, 213);
    text-align: center;    
}
.promo .promo_subheader {
    font-size: 26px;
    font-weight: lighter;
    font-family: "BigNoodleTitling";
    color: rgb(214, 213, 213);
    text-align: center; 
    margin-top: 20px;
}
.promo .scroll{
    display: inline-block;
    position: absolute;
    bottom: 0;
}
.promo .scroll .scroll_discr {
    font-size: 12px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;  
    text-transform: uppercase;    
}
.promo .scroll .scroll_mouse {
    display: inline-block;
}




  